body {
	font-family:Roboto;
	font-weight:300;
	font-size:15px;
	color:#777;
	line-height:1.7;
}
h1,h2,h3,h4,h5,h6 {
	font-family:Roboto;
	font-weight:700;
}

.unstyle ul li,.unstyle ol li,ul.unstyle li,ol.unstyle li {
	list-style:none;
	line-height:inherit;
}
.text-left {
	text-align:left !Important;
}
a:hover {
	text-decoration:none;
}
.content-block {
	padding:50px 0;
	margin-top:50px;
}
.navbar-lg {
	min-height:76px;
}
.navbar-lg .navbar-brand {
	line-height:1;
	padding-top:20px;
	padding-bottom:26px;
	font-size:30px;
}

header .navbar-white a {
	color:#3D566E;
	font-weight:700;
}
.item.content,.item.portfolio,.item.team,.item.pricing,.item.contact {
	padding-top:40px;
	padding-bottom:0px;
}
.padding-top-100 {
	padding-top:180px !important;
}
.padding-bottom-40 {
	padding-bottom:40px !important;
}
header .navbar-white {
	background:#00bba7;
}
.item.header {
	background-image:url(../images/att1.png);
	background-repeat:no-repeat;
	background-position:0% top;
	background-size:cover;
	background-attachment:scroll;
	background-color:rgba(0,0,0,0);
}
.navbar-nav,.navbar>.container .navbar-brand {
	font-family:Dosis;
	text-transform:uppercase;
}
	.text-homeimage {
	text-align:center;
	color:rgb(17, 17, 17);
	z-index:2;
	position:relative;
	font-size:75px;
	line-height:300px;
	text-transform:uppercase;
	padding-top:190px;
	padding-bottom:190px;
	font-weight:700;
	font-family:Dosis;
}
.text-pageheader {
	 text-align:center;
	color:#fff;
	z-index:2;
	position:relative;
	font-size:45px;
	line-height:90px;
	text-transform:uppercase;
	padding-top:100px;
	padding-bottom:100px;
	font-weight:700;
	font-family:Dosis;
}

.toparea {
	background:#fff;
	margin-top:-40px;
	padding-top:30px;
}
.numbertext {
	font-weight:700;
	font-size:20px;
	line-height:38px;
	color:#444;
	text-transform:uppercase;
	display:block;
	margin-bottom:10px;
}
.numberstep {
	background-color:#00bba7;
	border-radius:50%;
	color:#fff;
	margin-right:4px;
	text-align:center;
	height:60px;
	width:60px;
	line-height:60px;
	display:inline-block;
	font-size:25px;
	font-weight:700;
	margin-top:20px;
}
h1.latestitems {
	font-size:22px;
	line-height:28px;
	color:#444;
	text-transform:uppercase;
	letter-spacing:1px;
	margin-top:0;
}
.wow-hr {
	position:relative;
	font-size:0;
	text-align:center;
	height:24px;
	margin:auto;
	margin-top:2%;
	margin-bottom:3%;
	width:50%;
	padding:2px 0;
	overflow:hidden;
	clear:both;
}
.wow-hr-h:before {
	left:-13px;
	margin-left:-50%;
	background:#f7f7f7;
}
.wow-hr-h:after {
	left:13px;
	margin-right:-50%;
}
.wow-hr-h:before,.wow-hr-h:after {
	display:inline-block;
	content:"";
	height:1px;
	width:50%;
	margin-top:9px;
	vertical-align:top;
	position:relative;
	background-color:#e4e4e4;
}
.wow-hr-h i {
	font-size:16px;
	line-height:20px;
	height:20px;
	width:20px;
	vertical-align:top;
	text-align:center;
	color:#e4e4e4;
}
.paddingtop0 {
	padding-top:0 !Important;
}
.paddingbottom20 {
	padding-bottom:20px !Important;
}
.homebrowseitems {
	text-decoration:none;
	background-color:#00bba7;
	font-weight:700;
	font-size:20px;
	border:0;
	padding:13px 39px;
	letter-spacing:1px;
	margin-top:-20px;
	display:inline-block;
	color:#fff;
	margin-bottom:0px;
}
.homebrowseitemsicon {
	color:#fff;
	display:inline-block;
	padding:13px 20px;
	margin-top:-13px;
	margin-bottom:-13px;
	margin-right:-39px;
	margin-left:15px;
	background:rgba(0,0,0,0.2);
}
a.homebrowseitems:hover {
	color:#fff;
	opacity: 0.8;
}

/* the text box */

.footer ul.social-iconsfooter li {
	display:inline-block;
	float:none;
	position:relative;
	background:transparent;
	margin-right:5px;
	border:1px solid #333;
}
.footer ul.social-iconsfooter li a {
	color:#fff;
	width:60px;
	height:60px;
	line-height:60px;
	display:inline-block;
}
.footer {
	background:#222;
	color:#999;
	font-size:14px;
	padding:60px 0 40px 0;
	margin-top:0px;
}

.footernote {
	font-size:30px;
	color:#fff;
}
.footer a {
	color:#00bba7;
}
#contactform input,#contactform textarea {
	border:0px;
	border:1px solid #eee;
	width:100%;
	background-color:transparent;
	padding:14px 10px;
	margin-bottom:20px;
	border-radius:0;
	font-size:14px;
}
#contactform .btn {
	background:#333;
	color:#fff;
	border:1px solid #333;
	font-size:16px;
	font-weight:700;
	text-transform:uppercase;
}
.done {
	display:none;
}
.error input,input.error,.error textarea,textarea.error {
	background-color:#ffffff;
	border-bottom:2px solid orangered !Important;
	transition:border linear 0.2s,box-shadow linear 0.2s;
}
@media (min-width:768px) {
	.navbar-lg .navbar-nav>li>a {
		padding-top:26px;
		padding-bottom:26px;
		 font-size:18px;
	}
	.navbar-lg .navbar-nav>li>a:hover,.navbar-lg .navbar-nav>li>a:active {
		background:#fff;
		color: #00bba7;
	}
}